@use '../utilities/variables' as *;

// font styles

@mixin font-face($name, $file, $weight: normal, $style: normal) {
  @font-face {
    font-family: $name;
    src: url('#{$font-path}/#{$file}.ttf') format('truetype');
    font-weight: $weight;
    font-style: $style;
  }
}

// media queries

@mixin breakpoint($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

// max-width won't go larger than chosen width
@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}
