@use 'functions' as *;

// Colours
$background-color: hsl(0, 0%, 89%);
$primary-color: hsl(275, 100%, 25%);
$text-color: hsl(90, 1%, 31%);
$accent-color: hsl(39, 91%, 49%);
$shadow-colour: hsla(0, 0%, 0%, 0.1);

// Fonts
$font-path: '../../assets/font';
$font-primary: 'Montserrat';

//Gap defaults
$grid-gap: rem(16);
$flex-gap: rem(16);

//Padding defaults
$padding-sm: rem(16);
$padding-md: rem(20);

//Border radius defaults
$radius-sm: rem(8);

// Breakpoints

// 320px, 768px, 1024px
$breakpoints-up: (
  'sm': em(576),
  // Small devices such as phones
  'md': em(768),
  // Tablets in portrait mode
  'lg': em(992),
  // Small desktops, tablets in landscape mode
  'xl': em(1200) // Larger desktop monitors,,,,,,,,
);

// 319.98, 767.98px, 1023.98px
$breakpoints-down: (
  'sm': em(575.99),
  // Small devices such as phones
  'md': em(767.99),
  // Tablets in portrait mode
  'lg': em(991.99),
  // Small desktops, tablets in landscape mode
  'xl': em(1199.99) // Larger desktop monitors,,,,,,,,
);
